.main-painel {
  height: calc(100vh - 73px);
  display: flex;
  justify-content: center;
}

.container-painel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 2rem;
}

.container-painel .texto-painel {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-painel .texto-painel > h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.container-painel .texto-painel > h1 {
  font-weight: 300;
  font-size: 2.7rem;
  font-family: 'Fira code';
  margin-top: -.8rem;
}

.container-painel .texto-painel > h1::after {
  content: "_";
  animation: infinite piscar .8s;
}


.container-painel .box-imagem-painel {
  max-width: 40rem;
}

.container-painel .box-imagem-painel > img {
  width: 100%;
}